@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-brand-primary: #60233f;
  --color-brand-secondary: #6f595e;
  --color-brand-accent: #4a3602;
  --color-brand-accent-light: #ffdf9e;
  --color-brand-bg: #fff8fa;
  --color-brand-bg-card: #ffffff;
  --color-brand-bg-container: #f3ecee;
  --color-brand-bg-low: #f9f2f4;
  --color-brand-outline: #d6c1c7;
}

@layer utilities {
  .premium-shadow {
    box-shadow: 0 10px 40px -10px rgba(96, 35, 63, 0.08);
  }
  
  .reveal-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease-out;
  }
}
